// COLORS
$background: #272B31
$title-bill: #7E827A
$white: #FFFFFF
$light900: #F5F5F5
$light800: #E0E0E0
$dark200: #2F343B
$active: #E3CDA4
// FONTS SIZES
$font-results: 2rem
$font-insert: 1.375rem
$font-insert-mobile: 1.125rem
$font-input: 1.10rem
$font-title-form: 1rem
$font-title-form-mobile: .875rem
$font-subtitle: 0.875rem
$font-subtitle-mobile: 0.75rem
$font-button: 1.25rem
$font-button-mobile: 1rem