*,
*::after,
*::before {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Quicksand', sans-serif;
}

button {
    cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
   -moz-appearance: textfield;
}

*::-webkit-scrollbar {
    display: none;
}